.token-input {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 20px;
  width: 100%;
  margin-bottom: 10px;
}

.token-details {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  width: 100%;
  margin-bottom: 30px;
  
}

.token-message {
  float: left;
  padding: 20px;
}

.token-box {
  padding: 20px;
  border: 1px solid black;
  word-wrap: break-word;
  word-break: break-word;
  min-height: 200px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.input-button {
  float: right;
  margin-left: 10px;
  margin-top: 15px;
}

.settings {
  border: 1px solid black;
}

.decoded-token {
  border: 1px solid black;
  padding: 20px;
  word-wrap: break-word;
  word-break: break-word;
}

.claims-table {
  word-wrap: break-word;
  word-break: break-word;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
}
