.input-box {
  padding: 20px;
  border: 1px solid black;
  word-wrap: break-word;
  word-break: break-word;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.token-input {
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-gap: 20px;
  width: 100%;
  margin-bottom: 10px;
}

.token-details {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  width: 100%;
  margin-bottom: 30px;
}

.token-message {
  float: left;
  padding-top: 10px;
}

.token-box {
  min-height: 300px;
  float: left;
  width: 100%;
}

.secret-display {
  max-width: 800px;
}

.secret-box {
  min-height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.secret-label {
  margin-bottom: 15px;
}

.token-button {
  float: right;
  margin-left: 10px;
  margin-bottom: 15px;
}

.secret-input {
  width: 100%;
  float: left;
}

.secret-button-left {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.secret-button-right {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}

.settings {
  border: 1px solid black;
}

.decoded-token {
  border: 1px solid black;
  padding: 20px;
  word-wrap: break-word;
  word-break: break-word;
}

.claims-table {
  word-wrap: break-word;
  word-break: break-word;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tablinks {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tablinks:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tablinks.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 10px 12px;
  min-height: 340px;
}

.tab-secret-box {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  word-wrap: break-word;
  word-break: break-word;
  height: 50px;
  overflow-y: scroll;
}

.signature-verify {
  float: left;
  width: 100%;
}

.tab-button {
  margin-right: 10px;
  margin-bottom: 10px;
}

.tab-button-small {
  float: right;
  margin-left: 5px;
  border: none;
  background: none;
  cursor: pointer;
}

.secret-select {
  float: right;
  width: 100%;
}

.tab-section {
  float:left;
  width:100%;
  margin-top:10px
}